/* Branch Info Section */
.branch-info img {
  max-width: 300px;
  border-radius: 8px;
}

.branch-info h3,
.branch-info h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

.branch-info p {
  font-size: 1.2rem;
  color: #777;
}

/* Card Styling */
.card_header_discount_main {
  border: 1px solid #00000028;
}

.card_header_discount_main .card-body p span {
  font-size: 20px;
  font-weight: 500;
}

.card_header_discount {
  background: linear-gradient(274deg, rgba(253, 42, 78, 1) 30%, rgba(255, 5, 5, 1) 89%);
  color: white;
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
}

.card-body {
  padding: 1.5rem;
}

.card-body ul {
  list-style-type: none;
  padding-left: 0;
}

.card-body li {
  font-size: 1.1rem;
}

.card-body .card-image img {
  max-width: 80px;
  border-radius: 8px;
}

.card-body .card-text {
  margin-top: 15px;
}