.std-img{
  width: 100%;
  border: 3px solid red;
    border-radius: 10px;
}
.card_s{
  width: 240px;
  position: relative; /* To position the label relative to the card */
  display: inline-block; /* Align cards inline */
  border-radius: 10px; /* Optional: smooth corners */
  overflow: hidden; /* Ensures label stays inside the card */
  margin: 16px 0px;  /* Adds spacing between cards */
}
.card_city_name{
  position: absolute;
  bottom: 0px;
  right: 7px;
  padding: 5px 10px;
  background-color: red;
  font-size: 14px;
  color: white;
  font-weight: 500;
  border-radius: 5px; /* Optional: smooth edges */
  white-space: nowrap; /* Prevents text wrapping */
  text-align: center; /* Centers text */
}
.card_category{
  position: absolute;
  top: 7px;
  left: 6px;
  padding: 2px 5px;
  background-color: #121212;
  font-size: 12px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
}