.hero-section {
  background-size: cover;
  background-position: center;
  height: 60vh;
  padding: 20px;
}

.rabbit {
  /* width: 500px; */
  height: 30%;
  position: absolute;
  top: 43%;
}

.rabbit1 {
  bottom: 0%;
  z-index: 1;
  animation: drift 17s linear infinite;
}



@keyframes drift {
  from {
    transform: translateX(-310px);
  }

  to {
    transform: translateX(1150px);
  }
}

.highlight {
  color: #ff4d4d;
  /* Highlight text color */
}

.search-bar input {
  border: 2px solid #ff4d4d;
  border-radius: 25px;
  padding: 10px 50px;
  font-size: 16px;
  box-shadow: rgb(0 0 0 / 71%) 0px 0px 24px;
}

.mainsearchicon {
  position: relative;
  top: 39px;
  left: 15px;
  color: #787878;
  font-size: 26px;

}

.search-bar input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
}

.btn-lg {
  font-size: 17px;
  padding: 8px 10px;
  color: aliceblue;
  font-weight: 500;
  box-shadow: rgb(0 0 0 / 71%) 0px 3px 8px;
  background-color: transparent;
  border: 1px solid #0000006e;
  border-radius: 16px;
}

.btn-lg img {
  width: 30px;
}

@media (max-width: 768px) {
  .hero-section {
    text-align: center;
    padding: 40px 20px;
  }

  .btn-lg {
    font-size: 16px;
    padding: 8px 15px;
  }
}

/* Container for suggestions list */
.suggestions-list {
  position: absolute;
  background-color: white;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  top: 100%;
  left: 0;
  border-radius: 5px;
  margin-top: 5px;
}

/* Styling for each suggestion item */
.suggestion-item {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  color: black;
  /* Default text color */
  background-color: white;
  /* Default background color */
  transition: background-color 0.2s ease, color 0.2s ease;
  /* Smooth transition for both background and text color */
}

/* Reverse background and text color on hover */
.suggestion-item:hover {
  background-color: black;
  /* Dark background on hover */
  color: white;
  /* White text on hover */
}

/* Loading state */
.loader {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #666;
}

/* Input field container to position suggestions correctly */
.search-bar {
  position: relative;
}

/* Optional: Styling for search bar */
/* .form-control {
    padding-left: 35px;  Adjust padding to fit the search icon
  } */

.highlight-text {
  color: #f39c12;
  /* Highlight color */
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .search-bar input {
    padding: 4px 10px;
    font-size: 14px;
  }

  .form-control {
    height: 36px;
  }
}