/* START MARCHANT BRACNCH CSS */
.marchant_branch_hero_row {
  padding: 18px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  border: 1px solid #44444433;
  background-color: #f1f1f1c2;
}

.marchant_branch_hero_row img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 20px;
}

.marchant_branch_hero_content {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.marchant_branch_hero_content h2 {
  color: red;
  font-size: 41px;
  font-weight: 700;
}

.marchant_branch_hero_content p {
  color: aliceblue;
  background-color: red;
  max-width: 130px;
  padding: 9px;
  border-radius: 20px;
  text-align: center;
}

.marchant_branch_hero_content p span {
  font-size: 56px;
  font-weight: 700;
}

.marchant_branch_hero_content1 p {
  font-size: larger;
  text-align: center;
  max-width: 150px;
  font-weight: 600;
  padding: 3px 7px;
  border-radius: 10px;
  border: 1px solid #00000047;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* end MARCHANT BRACNCH CSS */

/* START BRANCH_DETAILS */
.stats_container_fluid {
  text-align: -webkit-center;
}

.brand-container {
  padding: 20px;
}

/* Header */
.brand-header {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 90%;
  margin: 20px auto;
}

.brand-logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 13%;
  border: 3px solid #e40046;
  position: relative;
  bottom: 104px;
  background-color: #fff;
}

.brand-logo img {
  height: 144px;
  border-radius: 11%;
}

.brand-info {
  flex: 1;
}

.brand-title {
  font-size: 35px;
  color: #ff0000;
  margin: 0;
  font-weight: bold;
}

.brand-description {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  margin: 5px 0 0;
  font-weight: 600;
}

/* Images */
.brand-images {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 0;
}

.brand-images img {
  flex: 1;
  object-fit: cover;
  width: 100%;
  border: 3px solid red;
  border-radius: 20px;
  height: 45vh;
  background-size: cover;
  background-position: center;
}

/* Stats */
.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.stat-button {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ff3d00;
  /* Bright red */
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 6px;
  border-radius: 10px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer; */
}

.stat-button span {
  font-size: 16px;
  font-weight: bold;
}

/* .stat-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
} */

/* END BRANCH_DETAILS */

/* START CARD PAGE */
/* BankPage.css */

.bank-page-container {
  font-family: "Arial", sans-serif;
  margin: 20px;
}

.bank-banner {
  position: relative;
}

.banner-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: 2px solid red;
  border-radius: 20px;
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.bank-info {
  position: absolute;
  bottom: 14px;
  left: 20px;
  display: flex;
  align-items: end;
  padding: 10px 20px;
  border-radius: 10px;
}

.bank-info img {
  width: 70px;
  border-radius: 10px;
}

.bank-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.bank-name {
  padding-left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: #000000 1px 0 10px;
}

.breadcrumb {
  margin: 20px 0px;
  font-size: 14px;
  color: gray;
}

.hospital-info {
  padding: 20px;
}

.hospital-name {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.hospital-address {
  margin-top: 10px;
  font-size: 16px;
  color: black;
  display: flex;
  align-items: center;
}

.map-icon {
  color: red;
  margin-right: 8px;
}

/* END CARD PAGE */

/* START ABOUT PAGE CSS */
.about_page img {
  width: 100%;
  border-radius: 15px;
}

.about_cards {
  border: 1px solid #ffebeb;
  padding: 30px 20px;
  text-align: center;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgb(255 96 96 / 20%) 0px 2px 8px 0px;
}

.about_cards_icon {
  font-size: 30px;
  margin: 10px 0;
  color: var(--primary-color);
}

.about_gradient {
  background: linear-gradient(39deg, rgba(48, 0, 0, 1) 18%, rgba(195, 16, 0, 1) 94%);
  height: 35vh;
  align-items: center;
  display: flex;
  margin-top: 3rem;
}

.about_gradient h5 {
  text-align: center;
}

.about_bg {
  width: 100%;
  background-size: cover;
}

.rabbit_about {
  position: absolute;
  left: 5%;
  width: 15%;
}

.about_page p {
  color: #000000;
  padding: 10px 0;
}


.about_page p span {
  color: #b30000;
  font-weight: 700;
}



/* CONATCT PAGE CSS */

/* START CSS TERM OF USE */
.termofuse {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.termofuse p {
  color: black;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 6px;
}

/* END CSS TERM OF USE */


/* Background Image with Red Shade */
.contact-page {
  position: relative;
  background: url("../../public/assets/img/landing/contact_bg.png") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Red Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(247 38 38 / 28%);
  /* Red shade overlay */
  z-index: 1;
  color: #ffffff;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 100;

}

/* Contact Container */
.contact-container {
  position: relative;
  display: flex;
  gap: 20px;
  z-index: 2;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
}

/* Contact Cards */
.contact-card {
  background: rgb(0 0 0 / 44%);
  backdrop-filter: blur(5px);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  min-width: 250px;
  flex: 1;
}
.contact-card h2{
  color: #fff;
}

/* Email Button */
.contact-btn {
  background: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.contact-btn:hover {
  background: black;
  color: white;
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 24px;
  margin-top: 45px;
}

.social-icons a {
  color: #fff;
}

.social-icons a:hover {
  color: #ff0000;
}

.social-icons svg {
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  transform: scale(1.2);
}

/* QR Code */
.qr-code {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-card {
    width: 90%;
  }
}


/* END ABOUT PAGE CSS */


@media only screen and (max-width: 600px) {
  .banner-image {
    height: 25vh;
  }

  .brand-header {
    flex-direction: column;
    max-width: 100%;
  }

  .brand-logo {
    position: inherit;
    margin-right: auto;
  }

  .brand-images {
    display: none;
  }

  .brand-description {
    font-size: 18px;
  }

  .stats_container_fluid {
    width: 105%;
  }

  .bank-info {
    padding: 0;
  }

  .bank-name {
    font-size: 18px;
  }

  .stat-button {
    font-size: 12px;
  }

  .breadcrumb {
    margin: 20px 0;
  }

  .hospital-info {
    padding: 0px;
  }

  /* .brand-images img {
    border: 2px solid red;
    border-radius: 10px;
    height: 12vh;
  } */
}

@media (min-width: 768px) and (max-width: 990px) {
  .brand-header {
    display: block;
  }

  .brand-logo {
    bottom: 60px;
  }

  .brand-images img {
    height: 25vh;
  }

  .banner-image {
    height: 25vh;
  }
}