@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Kdam+Thmor+Pro&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Playwrite+CO+Guides&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

h5 {
    color: black;
    font-weight: 600;
    margin: 0;
}

h1 {
    color: var(--primary-color);
}
h2{
    color: black;
}

h3 {
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-color);
}
h6{
    color: black;
    font-size: 12px;
    font-weight: 400;
}
p {
    color: #0000008F;
    font-weight: 500;
    margin: 0;
}

:root {
    --primary-color: #F34436
}